# Рекомендательная система
## Обучение контрольной модели

**Описание задачи**

На данном шаге необходимо обучить модель с применением классических методов машинного обучения.

**Описание данных**

Датасет `user_data` cодержит информацию о всех пользователях социальной сети.

- age — возраст пользователя (в профиле),
- city — город пользователя (в профиле),
- country — страна пользователя (в профиле),
- exp_group — экспериментальная группа (зашифрованная категория),
- gender — пол пользователя,
- user_id — уникальный идентификатор пользователя,
- os — операционная система устройства, с которого происходит пользование соц.етью,
- source — признак, показывающий пришел ли пользователь в приложение с органического трафика или с рекламы.

Датасет `post_text_df` содержит информацию о постах и уникальный ID каждой единицы с соответствующим ей текстом и топиком.

- id — уникальный идентификатор поста,
- text — текстовое содержание поста,
- topic — основная тематика.

Датасет `feed_data` содержит историю о просмотренных постах для каждого юзера в изучаемый период.

- timestamp — время, когда был произведен просмотр,
- user_id — уникальный идентификатор пользователя, который совершил просмотр,
- post_id — уникальный идентификатор просмотренного поста,
- action — тип действия (просмотр или лайк),
- target — 1 у просмотров, если почти сразу после просмотра был совершен лайк, иначе 0; у действий like пропущенное значение.

**Последовательность выполнения**

- Загрузить датасеты;
- Провести кодировку признаков (бинарную, One Hot Encoding, TF-IDF);
- Подготовить датасеты для обучения модели;
- Разделить выборки на обучающую и тестовую;
- Обучить модель и замерить качество;
- Сохранить модель.

Загрузим библиотеки.

In [7]:
import pandas as pd
from sqlalchemy import create_engine

Создадим подключения к базе данных PostgreSQL.

In [10]:
# параметры подключения удалены
engine = create_engine(
   
)

Загрузим датасет `user_data`.

In [13]:
user_data = pd.read_sql('SELECT * FROM public.user_data', con=engine, params=None)
user_data

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

Проведем кодировку признаков `os` и `source` (в каждой группе по 2 значения) бинарным кодированием. Для признака `country` (11 значений) применим One Hot Encoding. Признак `city` (3915 значений) оставим как категориальный признак.

In [17]:
user_data['os'] = user_data['os'].map({'Android': 0, 'iOS': 1})
user_data['source'] = user_data['source'].map({'ads': 0, 'organic': 1})

In [19]:
encoded_columns = pd.get_dummies(user_data['country'], prefix='country', drop_first=True).astype(int)
user_data = pd.concat([user_data, encoded_columns], axis=1)
user_data.drop('country', axis=1, inplace=True)

In [21]:
user_data

,user_id,gender,age,city,exp_group,os,source,country_Belarus,country_Cyprus,country_Estonia,country_Finland,country_Kazakhstan,country_Latvia,country_Russia,country_Switzerland,country_Turkey,country_Ukraine
0,200,1,34,Degtyarsk,3,0,0,0,0,0,0,0,0,1,0,0,0
1,201,0,37,Abakan,0,0,0,0,0,0,0,0,0,1,0,0,0
2,202,1,17,Smolensk,4,0,0,0,0,0,0,0,0,1,0,0,0
3,203,0,18,Moscow,1,1,0,0,0,0,0,0,0,1,0,0,0
4,204,0,36,Anzhero-Sudzhensk,3,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,0,36,Kaliningrad,4,0,1,0,0,0,0,0,0,1,0,0,0
163201,168549,0,18,Tula,2,0,1,0,0,0,0,0,0,1,0,0,0
163202,168550,1,41,Yekaterinburg,4,0,1,0,0,0,0,0,0,1,0,0,0
163203,168551,0,38,Moscow,3,1,1,0,0,0,0,0,0,1,0,0,0
163204,168552,1,16,Ivanteyevka,4,0,1,0,0,0,0,0,0,1,0,0,0

Загрузим датасет `post_text_df`.

In [26]:
engine.dispose()
post_text_df = pd.read_sql('SELECT * FROM public.post_text_df', con=engine, params=None)
post_text_df

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

Для признака `topic` (7 значений) применим One Hot Encoding.

In [29]:
encoded_columns = pd.get_dummies(post_text_df['topic'], prefix='topic', drop_first=True).astype(int)
post_text_df = pd.concat([post_text_df, encoded_columns], axis=1)
post_text_df.drop('topic', axis=1, inplace=True)

Для признака 'text' применим кодировку TF-IDF.

In [32]:
import re
import string
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [34]:
wnl = WordNetLemmatizer()

def preprocessing(line, token=wnl):
    line = line.lower()
    line = re.sub(r"[{}]".format(string.punctuation), " ", line)
    line = line.replace('\n\n', ' ').replace('\n', ' ')
    line = ' '.join([token.lemmatize(x) for x in line.split(' ')])
    return line


tfidf = TfidfVectorizer(
    stop_words='english',
    preprocessor=preprocessing
)

In [36]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\EliteBook\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [38]:
tfidf_data = (
    tfidf
    .fit_transform(post_text_df['text'])
    .toarray()
)

C:\Users\EliteBook\anaconda3\Lib\site-packages\sklearn\feature_extraction\text.py:406: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ha', 'wa'] not in stop_words.
  warnings.warn(

In [40]:
tfidf_data = pd.DataFrame(
    tfidf_data,
    index=post_text_df.post_id,
    columns=tfidf.get_feature_names_out()
)

In [42]:
post_text_df['TotalTfIdf'] = tfidf_data.sum(axis=1).reset_index()[0]
post_text_df['MaxTfIdf'] = tfidf_data.max(axis=1).reset_index()[0]
post_text_df['MeanTfIdf'] = tfidf_data.mean(axis=1).reset_index()[0]

In [44]:
post_text_df.drop('text', axis=1, inplace=True)

In [46]:
post_text_df

,post_id,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech,TotalTfIdf,MaxTfIdf,MeanTfIdf
0,1,0,0,0,0,0,0,8.748129,0.495805,0.000190
1,2,0,0,0,0,0,0,11.878472,0.308003,0.000258
2,3,0,0,0,0,0,0,12.675530,0.261799,0.000275
3,4,0,0,0,0,0,0,6.622786,0.537713,0.000144
4,5,0,0,0,0,0,0,6.352096,0.420251,0.000138
...,...,...,...,...,...,...,...,...,...,...
7018,7315,0,0,1,0,0,0,6.703322,0.258411,0.000146
7019,7316,0,0,1,0,0,0,6.471398,0.399418,0.000141
7020,7317,0,0,1,0,0,0,5.628524,0.573061,0.000122
7021,7318,0,0,1,0,0,0,6.883375,0.231244,0.000150
7022,7319,0,0,1,0,0,0,8.115358,0.174201,0.000176

Загрузим 5000000 строк из датасета `feed_data`.

In [50]:
engine.dispose()
feed_data = pd.read_sql('SELECT * FROM public.feed_data  order by timestamp limit 5000000', con=engine, params=None)
feed_data

                  timestamp  user_id  post_id action  target
0       2021-10-01 06:01:40    29084     2845   view       1
1       2021-10-01 06:01:40   156604      573   view       1
2       2021-10-01 06:01:40    22276     5717   view       1
3       2021-10-01 06:01:40     1859     1498   view       1
4       2021-10-01 06:01:40    87173     6030   view       0
...                     ...      ...      ...    ...     ...
4999995 2021-10-06 22:59:06   140970     6289   view       0
4999996 2021-10-06 22:59:06   134168      321   view       0
4999997 2021-10-06 22:59:06    99060     6650   view       0
4999998 2021-10-06 22:59:06    20246     5702   view       0
4999999 2021-10-06 22:59:06    30342     4680   view       1

[5000000 rows x 5 columns]

Удалим строки с лайками, удалим столбец `action`.

In [53]:
feed_data = feed_data[feed_data['action'] != 'like']
feed_data.drop('action', axis=1, inplace=True)

C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11556\465158334.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feed_data.drop('action', axis=1, inplace=True)

Создадим временные признаки - выделим из времени совершённого действия месяц, день недели и час.

In [56]:
feed_data["timestamp"] = pd.to_datetime(feed_data["timestamp"])

feed_data['month'] = feed_data["timestamp"].dt.month.astype(int)
feed_data['hour'] = feed_data["timestamp"].dt.hour.astype(int)
feed_data['weekday'] = feed_data["timestamp"].dt.weekday.astype(int)

feed_data.drop('timestamp', axis=1, inplace=True)

C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11556\785391618.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feed_data["timestamp"] = pd.to_datetime(feed_data["timestamp"])
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11556\785391618.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feed_data['month'] = feed_data["timestamp"].dt.month.astype(int)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11556\785391618.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feed_data['hour'] = feed_data["timestamp"].dt.hour.astype(int)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11556\785391618.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feed_data['weekday'] = feed_data["timestamp"].dt.weekday.astype(int)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11556\785391618.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feed_data.drop('timestamp', axis=1, inplace=True)

In [58]:
feed_data

         user_id  post_id  target  month  hour  weekday
0          29084     2845       1     10     6        4
1         156604      573       1     10     6        4
2          22276     5717       1     10     6        4
3           1859     1498       1     10     6        4
4          87173     6030       0     10     6        4
...          ...      ...     ...    ...   ...      ...
4999995   140970     6289       0     10    22        2
4999996   134168      321       0     10    22        2
4999997    99060     6650       0     10    22        2
4999998    20246     5702       0     10    22        2
4999999    30342     4680       1     10    22        2

[4576282 rows x 6 columns]

Объединим все таблицы в одну, удалим индексы.

In [61]:
merged_df = pd.merge(feed_data, user_data, on='user_id', how='inner')
df = pd.merge(merged_df, post_text_df, on='post_id', how='inner')

In [63]:
df.drop(['user_id', 'post_id'], axis=1, inplace=True)

In [65]:
df

,target,month,hour,weekday,gender,age,city,exp_group,os,source,...,country_Ukraine,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech,TotalTfIdf,MaxTfIdf,MeanTfIdf
0,1,10,6,4,1,15,Mikhaylovka,4,0,0,...,0,1,0,0,0,0,0,3.296298,0.376926,0.000072
1,1,10,6,4,1,30,Chernihiv,1,0,1,...,1,0,1,0,0,0,0,8.718607,0.363419,0.000189
2,1,10,6,4,0,30,Cheboksary,1,1,0,...,0,0,0,1,0,0,0,5.736243,0.362383,0.000125
3,1,10,6,4,0,19,Kyiv,3,0,0,...,1,0,0,0,0,1,0,12.430876,0.294456,0.000270
4,0,10,6,4,1,36,Novokuznetsk,0,0,0,...,0,0,0,1,0,0,0,8.313837,0.255433,0.000181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4576277,0,10,22,2,0,49,Brest,2,1,1,...,0,0,0,1,0,0,0,6.423904,0.353426,0.000140
4576278,0,10,22,2,0,25,Moscow,2,1,1,...,0,0,0,0,0,0,0,9.025208,0.410648,0.000196
4576279,0,10,22,2,1,25,Belovo,1,0,0,...,0,0,0,1,0,0,0,5.861137,0.437757,0.000127
4576280,0,10,22,2,0,58,Proletarsk,0,1,0,...,0,0,0,1,0,0,0,7.633536,0.650222,0.000166
4576281,1,10,22,2,1,20,Velikiy Novgorod,1,0,0,...,0,0,0,1,0,0,0,3.712251,0.390982,0.000081

Разделим данные на признаки и целевую переменную, выделим обучающую и тестовую выборки.

In [68]:
X = df.drop('target', axis=1)
y = df['target']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

Обучим модель с помощью библиотеки CatBoost.

In [71]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.2.8-cp312-cp312-win_amd64.whl.metadata (1.5 kB)
Collecting graphviz (from catboost)
  Downloading graphviz-0.21-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: matplotlib in c:\users\elitebook\anaconda3\lib\site-packages (from catboost) (3.9.2)
Requirement already satisfied: numpy<3.0,>=1.16.0 in c:\users\elitebook\anaconda3\lib\site-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in c:\users\elitebook\anaconda3\lib\site-packages (from catboost) (2.2.3)
Requirement already satisfied: scipy in c:\users\elitebook\anaconda3\lib\site-packages (from catboost) (1.13.1)
Requirement already satisfied: plotly in c:\users\elitebook\anaconda3\lib\site-packages (from catboost) (5.24.1)
Requirement already satisfied: six in c:\users\elitebook\anaconda3\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\elitebook\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\elitebook\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\elitebook\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\elitebook\anaconda3\lib\site-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\elitebook\anaconda3\lib\site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\elitebook\anaconda3\lib\site-packages (from matplotlib->catboost) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\elitebook\anaconda3\lib\site-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\elitebook\anaconda3\lib\site-packages (from matplotlib->catboost) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\elitebook\anaconda3\lib\site-packages (from matplotlib->catboost) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\elitebook\anaconda3\lib\site-packages (from matplotlib->catboost) (3.1.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\elitebook\anaconda3\lib\site-packages (from plotly->catboost) (8.2.3)
Downloading catboost-1.2.8-cp312-cp312-win_amd64.whl (102.4 MB)
   ---------------------------------------- 0.0/102.4 MB ? eta -:--:--
   ---------------------------------------- 0.3/102.4 MB ? eta -:--:--
   ---------------------------------------- 0.5/102.4 MB 1.7 MB/s eta 0:01:01
   ---------------------------------------- 0.8/102.4 MB 1.6 MB/s eta 0:01:04
   ---------------------------------------- 1.0/102.4 MB 1.6 MB/s eta 0:01:03
    --------------------------------------- 1.6/102.4 MB 1.6 MB/s eta 0:01:04
    --------------------------------------- 1.8/102.4 MB 1.6 MB/s eta 0:01:02
    --------------------------------------- 2.1/102.4 MB 1.6 MB/s eta 0:01:02
   - -------------------------------------- 2.6/102.4 MB 1.7 MB/s eta 0:01:01
   - -------------------------------------- 2.9/102.4 MB 1.7 MB/s eta 0:01:00
   - -------------------------------------- 3.4/102.4 MB 1.7 MB/s eta 0:01:00
   - -------------------------------------- 3.7/102.4 MB 1.7 MB/s eta 0:00:59
   - -------------------------------------- 3.9/102.4 MB 1.7 MB/s eta 0:01:00
   - -------------------------------------- 4.5/102.4 MB 1.7 MB/s eta 0:00:59
   - -------------------------------------- 4.7/102.4 MB 1.7 MB/s eta 0:00:58
   -- ------------------------------------- 5.2/102.4 MB 1.7 MB/s eta 0:00:57
   -- ------------------------------------- 5.5/102.4 MB 1.7 MB/s eta 0:00:57
   -- ------------------------------------- 6.0/102.4 MB 1.7 MB/s eta 0:00:56
   -- ------------------------------------- 6.6/102.4 MB 1.8 MB/s eta 0:00:55
   -- ------------------------------------- 6.8/102.4 MB 1.8 MB/s eta 0:00:54
   -- ------------------------------------- 7.3/102.4 MB 1.8 MB/s eta 0:00:53
   -- ------------------------------------- 7.6/102.4 MB 1.8 MB/s eta 0:00:54
   --- ------------------------------------ 8.1/102.4 MB 1.8 MB/s eta 0:00:53
   --- ------------------------------------ 8.4/102.4 MB 1.8 MB/s eta 0:00:53
   --- ------------------------------------ 8.9/102.4 MB 1.8 MB/s eta 0:00:52
   --- ------------------------------------ 9.2/102.4 MB 1.8 MB/s eta 0:00:52
   --- ------------------------------------ 9.7/102.4 MB 1.8 MB/s eta 0:00:51
   --- ------------------------------------ 10.2/102.4 MB 1.8 MB/s eta 0:00:50
   ---- ----------------------------------- 10.7/102.4 MB 1.9 MB/s eta 0:00:49
   ---- ----------------------------------- 11.5/102.4 MB 1.9 MB/s eta 0:00:48
   ---- ----------------------------------- 12.1/102.4 MB 2.0 MB/s eta 0:00:47
   ---- ----------------------------------- 12.6/102.4 MB 2.0 MB/s eta 0:00:46
   ----- ---------------------------------- 13.4/102.4 MB 2.0 MB/s eta 0:00:44
   ----- ---------------------------------- 13.9/102.4 MB 2.1 MB/s eta 0:00:44
   ----- ---------------------------------- 14.7/102.4 MB 2.1 MB/s eta 0:00:43
   ----- ---------------------------------- 15.2/102.4 MB 2.1 MB/s eta 0:00:42
   ------ --------------------------------- 15.7/102.4 MB 2.1 MB/s eta 0:00:41
   ------ --------------------------------- 16.3/102.4 MB 2.1 MB/s eta 0:00:41
   ------ --------------------------------- 16.8/102.4 MB 2.1 MB/s eta 0:00:40
   ------ --------------------------------- 17.6/102.4 MB 2.2 MB/s eta 0:00:40
   ------- -------------------------------- 18.1/102.4 MB 2.2 MB/s eta 0:00:39
   ------- -------------------------------- 18.6/102.4 MB 2.2 MB/s eta 0:00:38
   ------- -------------------------------- 19.4/102.4 MB 2.2 MB/s eta 0:00:38
   ------- -------------------------------- 19.9/102.4 MB 2.2 MB/s eta 0:00:37
   ------- -------------------------------- 20.4/102.4 MB 2.3 MB/s eta 0:00:37
   -------- ------------------------------- 21.0/102.4 MB 2.3 MB/s eta 0:00:36
   -------- ------------------------------- 21.5/102.4 MB 2.3 MB/s eta 0:00:36
   -------- ------------------------------- 22.3/102.4 MB 2.3 MB/s eta 0:00:35
   -------- ------------------------------- 22.8/102.4 MB 2.3 MB/s eta 0:00:35
   --------- ------------------------------ 23.3/102.4 MB 2.3 MB/s eta 0:00:35
   --------- ------------------------------ 23.9/102.4 MB 2.3 MB/s eta 0:00:34
   --------- ------------------------------ 24.6/102.4 MB 2.3 MB/s eta 0:00:34
   --------- ------------------------------ 25.2/102.4 MB 2.3 MB/s eta 0:00:34
   ---------- ----------------------------- 25.7/102.4 MB 2.3 MB/s eta 0:00:33
   ---------- ----------------------------- 26.2/102.4 MB 2.4 MB/s eta 0:00:33
   ---------- ----------------------------- 27.0/102.4 MB 2.4 MB/s eta 0:00:32
   ---------- ----------------------------- 27.5/102.4 MB 2.4 MB/s eta 0:00:32
   ---------- ----------------------------- 27.5/102.4 MB 2.4 MB/s eta 0:00:32
   ---------- ----------------------------- 28.0/102.4 MB 2.4 MB/s eta 0:00:32
   ----------- ---------------------------- 29.1/102.4 MB 2.4 MB/s eta 0:00:31
   ----------- ---------------------------- 29.6/102.4 MB 2.4 MB/s eta 0:00:31
   ----------- ---------------------------- 30.4/102.4 MB 2.4 MB/s eta 0:00:30
   ----------- ---------------------------- 30.7/102.4 MB 2.4 MB/s eta 0:00:30
   ------------ --------------------------- 31.5/102.4 MB 2.4 MB/s eta 0:00:30
   ------------ --------------------------- 32.0/102.4 MB 2.4 MB/s eta 0:00:30
   ------------ --------------------------- 32.5/102.4 MB 2.4 MB/s eta 0:00:29
   ------------- -------------------------- 33.3/102.4 MB 2.4 MB/s eta 0:00:29
   ------------- -------------------------- 33.8/102.4 MB 2.4 MB/s eta 0:00:29
   ------------- -------------------------- 34.6/102.4 MB 2.5 MB/s eta 0:00:28
   ------------- -------------------------- 35.1/102.4 MB 2.5 MB/s eta 0:00:28
   ------------- -------------------------- 35.7/102.4 MB 2.5 MB/s eta 0:00:28
   -------------- ------------------------- 36.2/102.4 MB 2.5 MB/s eta 0:00:27
   -------------- ------------------------- 37.0/102.4 MB 2.5 MB/s eta 0:00:27
   -------------- ------------------------- 37.5/102.4 MB 2.5 MB/s eta 0:00:27
   -------------- ------------------------- 38.0/102.4 MB 2.5 MB/s eta 0:00:26
   --------------- ------------------------ 38.8/102.4 MB 2.5 MB/s eta 0:00:26
   --------------- ------------------------ 39.3/102.4 MB 2.5 MB/s eta 0:00:26
   --------------- ------------------------ 39.8/102.4 MB 2.5 MB/s eta 0:00:26
   --------------- ------------------------ 40.4/102.4 MB 2.5 MB/s eta 0:00:25
   --------------- ------------------------ 40.9/102.4 MB 2.5 MB/s eta 0:00:25
   ---------------- ----------------------- 41.4/102.4 MB 2.5 MB/s eta 0:00:25
   ---------------- ----------------------- 41.9/102.4 MB 2.5 MB/s eta 0:00:25
   ---------------- ----------------------- 42.5/102.4 MB 2.5 MB/s eta 0:00:24
   ---------------- ----------------------- 43.0/102.4 MB 2.5 MB/s eta 0:00:24
   ----------------- ---------------------- 43.8/102.4 MB 2.5 MB/s eta 0:00:24
   ----------------- ---------------------- 44.3/102.4 MB 2.5 MB/s eta 0:00:24
   ----------------- ---------------------- 44.8/102.4 MB 2.5 MB/s eta 0:00:23
   ----------------- ---------------------- 45.6/102.4 MB 2.5 MB/s eta 0:00:23
   ------------------ --------------------- 46.1/102.4 MB 2.5 MB/s eta 0:00:23
   ------------------ --------------------- 46.9/102.4 MB 2.5 MB/s eta 0:00:22
   ------------------ --------------------- 47.4/102.4 MB 2.5 MB/s eta 0:00:22
   ------------------ --------------------- 48.0/102.4 MB 2.5 MB/s eta 0:00:22
   ------------------- -------------------- 48.8/102.4 MB 2.5 MB/s eta 0:00:22
   ------------------- -------------------- 49.3/102.4 MB 2.6 MB/s eta 0:00:21
   ------------------- -------------------- 49.8/102.4 MB 2.5 MB/s eta 0:00:21
   ------------------- -------------------- 50.3/102.4 MB 2.5 MB/s eta 0:00:21
   ------------------- -------------------- 50.9/102.4 MB 2.5 MB/s eta 0:00:21
   -------------------- ------------------- 51.4/102.4 MB 2.6 MB/s eta 0:00:21
   -------------------- ------------------- 51.9/102.4 MB 2.6 MB/s eta 0:00:20
   -------------------- ------------------- 52.4/102.4 MB 2.6 MB/s eta 0:00:20
   -------------------- ------------------- 53.2/102.4 MB 2.6 MB/s eta 0:00:20
   -------------------- ------------------- 53.7/102.4 MB 2.6 MB/s eta 0:00:20
   --------------------- ------------------ 54.3/102.4 MB 2.6 MB/s eta 0:00:19
   --------------------- ------------------ 54.8/102.4 MB 2.6 MB/s eta 0:00:19
   --------------------- ------------------ 55.3/102.4 MB 2.6 MB/s eta 0:00:19
   --------------------- ------------------ 56.1/102.4 MB 2.6 MB/s eta 0:00:19
   ---------------------- ----------------- 56.6/102.4 MB 2.6 MB/s eta 0:00:18
   ---------------------- ----------------- 57.1/102.4 MB 2.6 MB/s eta 0:00:18
   ---------------------- ----------------- 57.7/102.4 MB 2.6 MB/s eta 0:00:18
   ---------------------- ----------------- 58.2/102.4 MB 2.6 MB/s eta 0:00:18
   ---------------------- ----------------- 58.7/102.4 MB 2.6 MB/s eta 0:00:17
   ----------------------- ---------------- 59.5/102.4 MB 2.6 MB/s eta 0:00:17
   ----------------------- ---------------- 60.0/102.4 MB 2.6 MB/s eta 0:00:17
   ----------------------- ---------------- 60.6/102.4 MB 2.6 MB/s eta 0:00:17
   ----------------------- ---------------- 61.1/102.4 MB 2.6 MB/s eta 0:00:17
   ------------------------ --------------- 61.9/102.4 MB 2.6 MB/s eta 0:00:16
   ------------------------ --------------- 62.4/102.4 MB 2.6 MB/s eta 0:00:16
   ------------------------ --------------- 62.9/102.4 MB 2.6 MB/s eta 0:00:16
   ------------------------ --------------- 63.7/102.4 MB 2.6 MB/s eta 0:00:15
   ------------------------- -------------- 64.5/102.4 MB 2.6 MB/s eta 0:00:15
   ------------------------- -------------- 65.0/102.4 MB 2.6 MB/s eta 0:00:15
   ------------------------- -------------- 65.8/102.4 MB 2.6 MB/s eta 0:00:15
   ------------------------- -------------- 66.3/102.4 MB 2.6 MB/s eta 0:00:14
   -------------------------- ------------- 67.1/102.4 MB 2.6 MB/s eta 0:00:14
   -------------------------- ------------- 67.6/102.4 MB 2.6 MB/s eta 0:00:14
   -------------------------- ------------- 68.4/102.4 MB 2.6 MB/s eta 0:00:13
   -------------------------- ------------- 68.9/102.4 MB 2.6 MB/s eta 0:00:13
   --------------------------- ------------ 69.7/102.4 MB 2.6 MB/s eta 0:00:13
   --------------------------- ------------ 70.5/102.4 MB 2.6 MB/s eta 0:00:13
   --------------------------- ------------ 71.0/102.4 MB 2.6 MB/s eta 0:00:12
   ---------------------------- ----------- 71.8/102.4 MB 2.7 MB/s eta 0:00:12
   ---------------------------- ----------- 72.6/102.4 MB 2.7 MB/s eta 0:00:12
   ---------------------------- ----------- 73.1/102.4 MB 2.7 MB/s eta 0:00:11
   ---------------------------- ----------- 73.9/102.4 MB 2.7 MB/s eta 0:00:11
   ----------------------------- ---------- 74.4/102.4 MB 2.7 MB/s eta 0:00:11
   ----------------------------- ---------- 75.2/102.4 MB 2.7 MB/s eta 0:00:11
   ----------------------------- ---------- 75.8/102.4 MB 2.7 MB/s eta 0:00:10
   ----------------------------- ---------- 76.5/102.4 MB 2.7 MB/s eta 0:00:10
   ------------------------------ --------- 77.1/102.4 MB 2.7 MB/s eta 0:00:10
   ------------------------------ --------- 77.9/102.4 MB 2.7 MB/s eta 0:00:10
   ------------------------------ --------- 78.4/102.4 MB 2.7 MB/s eta 0:00:09
   ------------------------------ --------- 79.2/102.4 MB 2.7 MB/s eta 0:00:09
   ------------------------------- -------- 80.0/102.4 MB 2.7 MB/s eta 0:00:09
   ------------------------------- -------- 80.7/102.4 MB 2.7 MB/s eta 0:00:08
   ------------------------------- -------- 81.3/102.4 MB 2.7 MB/s eta 0:00:08
   -------------------------------- ------- 82.1/102.4 MB 2.7 MB/s eta 0:00:08
   -------------------------------- ------- 82.8/102.4 MB 2.7 MB/s eta 0:00:08
   -------------------------------- ------- 83.4/102.4 MB 2.7 MB/s eta 0:00:07
   -------------------------------- ------- 84.1/102.4 MB 2.8 MB/s eta 0:00:07
   --------------------------------- ------ 84.9/102.4 MB 2.8 MB/s eta 0:00:07
   --------------------------------- ------ 85.7/102.4 MB 2.8 MB/s eta 0:00:06
   --------------------------------- ------ 86.5/102.4 MB 2.8 MB/s eta 0:00:06
   --------------------------------- ------ 87.0/102.4 MB 2.8 MB/s eta 0:00:06
   --------------------------------- ------ 87.0/102.4 MB 2.8 MB/s eta 0:00:06
   --------------------------------- ------ 87.0/102.4 MB 2.8 MB/s eta 0:00:06
   ---------------------------------- ----- 87.8/102.4 MB 2.8 MB/s eta 0:00:06
   ---------------------------------- ----- 89.4/102.4 MB 2.8 MB/s eta 0:00:05
   ----------------------------------- ---- 90.2/102.4 MB 2.9 MB/s eta 0:00:05
   ----------------------------------- ---- 91.0/102.4 MB 2.9 MB/s eta 0:00:04
   ----------------------------------- ---- 91.5/102.4 MB 2.9 MB/s eta 0:00:04
   ------------------------------------ --- 92.3/102.4 MB 2.9 MB/s eta 0:00:04
   ------------------------------------ --- 92.8/102.4 MB 2.9 MB/s eta 0:00:04
   ------------------------------------ --- 93.1/102.4 MB 2.9 MB/s eta 0:00:04
   ------------------------------------ --- 93.6/102.4 MB 2.9 MB/s eta 0:00:04
   ------------------------------------ --- 94.1/102.4 MB 2.9 MB/s eta 0:00:03
   ------------------------------------- -- 95.2/102.4 MB 2.9 MB/s eta 0:00:03
   ------------------------------------- -- 95.7/102.4 MB 2.9 MB/s eta 0:00:03
   ------------------------------------- -- 96.2/102.4 MB 2.9 MB/s eta 0:00:03
   ------------------------------------- -- 97.0/102.4 MB 2.9 MB/s eta 0:00:02
   -------------------------------------- - 97.8/102.4 MB 2.9 MB/s eta 0:00:02
   -------------------------------------- - 98.6/102.4 MB 3.0 MB/s eta 0:00:02
   -------------------------------------- - 99.4/102.4 MB 3.0 MB/s eta 0:00:02
   ---------------------------------------  99.9/102.4 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  100.7/102.4 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  101.4/102.4 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  102.2/102.4 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  102.2/102.4 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  102.2/102.4 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 102.4/102.4 MB 2.9 MB/s eta 0:00:00
Downloading graphviz-0.21-py3-none-any.whl (47 kB)
Installing collected packages: graphviz, catboost
Successfully installed catboost-1.2.8 graphviz-0.21

In [73]:
from catboost import CatBoostClassifier

catboost = CatBoostClassifier(iterations=500,
                              learning_rate=1,
                              depth=2,
                              random_seed=100,
                              verbose=10,
                              cat_features=['city'])

catboost.fit(X_train, y_train)

0:	learn: 0.3085046	total: 2.37s	remaining: 19m 43s
10:	learn: 0.2965946	total: 16.5s	remaining: 12m 14s
20:	learn: 0.2925216	total: 28.5s	remaining: 10m 50s
30:	learn: 0.2921791	total: 41.3s	remaining: 10m 25s
40:	learn: 0.2920066	total: 53.5s	remaining: 9m 58s
50:	learn: 0.2918274	total: 1m 4s	remaining: 9m 29s
60:	learn: 0.2916227	total: 1m 16s	remaining: 9m 10s
70:	learn: 0.2915782	total: 1m 27s	remaining: 8m 46s
80:	learn: 0.2915089	total: 1m 39s	remaining: 8m 34s
90:	learn: 0.2914337	total: 1m 49s	remaining: 8m 13s
100:	learn: 0.2912725	total: 2m 1s	remaining: 8m
110:	learn: 0.2911976	total: 2m 13s	remaining: 7m 46s
120:	learn: 0.2911363	total: 2m 25s	remaining: 7m 34s
130:	learn: 0.2911143	total: 2m 35s	remaining: 7m 18s
140:	learn: 0.2910448	total: 2m 47s	remaining: 7m 6s
150:	learn: 0.2909932	total: 2m 58s	remaining: 6m 53s
160:	learn: 0.2909643	total: 3m 11s	remaining: 6m 43s
170:	learn: 0.2909202	total: 3m 23s	remaining: 6m 31s
180:	learn: 0.2908540	total: 3m 35s	remaining: 6m 20s
190:	learn: 0.2908151	total: 3m 49s	remaining: 6m 10s
200:	learn: 0.2907916	total: 4m 2s	remaining: 6m
210:	learn: 0.2907651	total: 4m 14s	remaining: 5m 48s
220:	learn: 0.2907295	total: 4m 28s	remaining: 5m 38s
230:	learn: 0.2906964	total: 4m 40s	remaining: 5m 26s
240:	learn: 0.2906505	total: 4m 54s	remaining: 5m 16s
250:	learn: 0.2906311	total: 5m 6s	remaining: 5m 4s
260:	learn: 0.2904860	total: 5m 18s	remaining: 4m 51s
270:	learn: 0.2904299	total: 5m 30s	remaining: 4m 38s
280:	learn: 0.2903964	total: 5m 41s	remaining: 4m 26s
290:	learn: 0.2903646	total: 5m 52s	remaining: 4m 13s
300:	learn: 0.2903470	total: 6m 4s	remaining: 4m
310:	learn: 0.2903287	total: 6m 17s	remaining: 3m 49s
320:	learn: 0.2903112	total: 6m 29s	remaining: 3m 36s
330:	learn: 0.2902898	total: 6m 40s	remaining: 3m 24s
340:	learn: 0.2902755	total: 6m 50s	remaining: 3m 11s
350:	learn: 0.2902588	total: 7m 1s	remaining: 2m 59s
360:	learn: 0.2902408	total: 7m 12s	remaining: 2m 46s
370:	learn: 0.2902216	total: 7m 22s	remaining: 2m 33s
380:	learn: 0.2902030	total: 7m 32s	remaining: 2m 21s
390:	learn: 0.2901908	total: 7m 43s	remaining: 2m 9s
400:	learn: 0.2901717	total: 7m 55s	remaining: 1m 57s
410:	learn: 0.2901481	total: 8m 6s	remaining: 1m 45s
420:	learn: 0.2901252	total: 8m 17s	remaining: 1m 33s
430:	learn: 0.2901127	total: 8m 28s	remaining: 1m 21s
440:	learn: 0.2901011	total: 8m 39s	remaining: 1m 9s
450:	learn: 0.2900894	total: 8m 50s	remaining: 57.6s
460:	learn: 0.2900819	total: 9m 1s	remaining: 45.8s
470:	learn: 0.2900693	total: 9m 12s	remaining: 34s
480:	learn: 0.2900550	total: 9m 23s	remaining: 22.3s
490:	learn: 0.2900426	total: 9m 34s	remaining: 10.5s
499:	learn: 0.2900352	total: 9m 44s	remaining: 0us

Оценим качество.

In [77]:
from sklearn.metrics import roc_auc_score

print(f"Качество на трейне: {roc_auc_score(y_train, catboost.predict_proba(X_train)[:, 1])}")
print(f"Качество на тесте: {roc_auc_score(y_test, catboost.predict_proba(X_test)[:, 1])}")

Качество на трейне: 0.6912042334688595
Качество на тесте: 0.6860399039995173

Сохраним модель.

In [79]:
catboost.save_model('control_model', format="cbm")

Сохраним таблицы с признаками постов и юзеров для обученной модели.

In [36]:
post_text_df.to_sql('l_22_posts_features', con=engine, if_exists='replace', index=False)

23

In [39]:
user_data.to_sql('l_22_users_features', con=engine, if_exists='replace', index=False)

205